* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Formular-regular";
}

.container {
    width: 1536px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 24px 0;
    height: 192px;
    background-color: #F9FAFB;
}

.btn {
    border-radius: 4px;
    border: 0;
    background: #8b5cf6;
    height: 44px;
    color: white;
    font-family: "Formular-bold";
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Desktop (2xl|1920)*/

.logo {
    display: flex;
    align-items: center;
    width: 305px;
    height: 74px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 24px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: right;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 372px;
}

.submit_app {
    width: 196px;
}

main {
    background-color: #e5e7eb ;
    padding: 72px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.left-side {
    width: 756px;

}  .left-side p {
    margin: 12px 0 16px 0;
}

.banner form {
    /* width: 756px; */
    height: 584px;
    padding: 24px 130px;
    border-radius: 16px;
    background: #F9FAFB;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* form1  */

.form-tite {
    width: 358px;
    margin: auto;
    text-align: center;
    grid-column: 1/3;
}

.input {
    width: 496px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #111827;
    padding: 12px;
    grid-column: 1/3;
}

.input1 {
    width: 236px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #111827;
    padding: 12px;
}

.btn-big{
    width: 496px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 28px 10px 28px;
    font-weight: 700;
    color: #F9FAFB;
    background-color: #8B5CF6;
    grid-column: 1/3;
    grid-row: 7/8;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 72px auto; */
}

.advantages,
.quality {
    margin: 48px auto;
}

.advantages {
    width: 1536px;
    height: 452px;
    gap: 24px;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
}

.cards {
    display: grid;
    grid-template-columns: 496px 496px 496px;
    grid-template-rows: 184px 184px 184px;
    gap: 24px;
}

.card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 40px 24px;
}

.card img {
    width: 136px;
    height: 136px;
}

.quality 
.title {
    width: 756px;
    margin: auto;
    text-align: center;
}

.docs {
    display: grid;
    grid-template-columns: 366px 366px 366px 366px;
    grid-template-rows: 407px;
    gap: 24px;
    margin: 24px 0 36px 0;
}

.doc {
    /* background: blue; */
}
.sms {
    width: 756px;
    height: 72px;
    margin: auto;
}

.see_more {
    width: 315px;
    height: 56px;
    border-radius: 12px;
    padding: 16px 28px 16px 28px;
    background-color: #8B5CF6;
    font-weight: 900;
}

.quality {
    text-align: center;
}

.see_more {
    height: 56px;
    width: 315px;
}

/* MESSAGE */

.message {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 1536px;
    height: 386px;
    padding: 0px 23px 0px 23px;
    gap: 24px;
}

.message img {
    width: 60px;
    height: 60px;
}

.left-message, 
.right-message {
    width: 626px;
    min-height: 318px;
    border-radius: 16px;
    padding: 32px 43px;
    gap: 30px;
    background-color: #F9FAFB;
    position: relative;
}

.left-message::before, 
.right-message::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    right: 18px;
    bottom: 8px;
    background: url("/img/Quotes\ zpt.png");
}

/* QUESTIONS */ 

.container-questions {
    width: 1536px;
    height: 554px;
    border-radius: 16px;
    padding: 64px;
    margin: auto;
    background-color: #F9FAFB;
    gap: 32;
}

/* FORM2 */

.form2 {
    width: 497px;
    height: 358px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.input2 {
    width: 237px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #111827;
    padding: 12px;
}

.phone2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.theme {
    grid-column: 2/3;
    grid-row: 2/3; 
}

.area {
    width: 497px;
    height: 150px;
    border-radius: 4px;
    border: 2px solid #111827;
    padding: 12px;
    resize: none;
    grid-column: 1/3;
    grid-row: 3/4;
}

.btn-submit {
    width: 497px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 28px 10px 28px;
    font-weight: 700;
    color: #F9FAFB;
    background-color: #8B5CF6;
    grid-column: 1/3;
    grid-row: 4/5;
}


/* FOOTER */

footer {
    padding: 40px, 0;
    background-color: #111827;
}

footer .container {
    padding: 40px 0 0 0;
}

.upp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-inf {
    width: 399px;
    height: 74px;
    color: #F9FAFB;
}

.footer-inf span {
    position: relative;
    top: 5px;
}

.footer-menu {
    display: flex;
    width: 372px;
    height: 24px;
    color: #F9FAFB;
    margin-top: 37px;
    gap: 24px;
}

.footer-phon {
    width: 351px;
    height: 76px;
    color: #F9FAFB;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down p {
    text-align: right;
}

.down .left {
    /* width: 910px;
    height: 48px; */
    text-align: left;
}

.left {
    width: 910px;
    height: 48px;
    text-align: lef;
    font-weight: 300;
    color: #4B5563;
}

.right {
    width: 242px;
    height: 32px;
    font-weight: 300;
    justify-content: left;
    color: #6B7280;
}

.left-message, 
.right-message {
    position: relative;
}

.left-message span, 
.right-message span {
    position: absolute;
    bottom: 32px;
    left: 43px;
}
.burger-menu {
    display: none;
}

/* Laptop (lg|1536) */

@media screen and (max-width: 1536px) and (min-width: 1025px) {
    header {
        height: 190px;
    }

    .container  {
        width: 1152px;
    }

    .main-info {
        width: 1024px;
        height: 74px;
        justify-content: space-between;
    }

    .logo {
        width: 305px;
        height: 74px;
        gap:4px;
    }
    .right-side {
        width: 659px;
        height: 74px;
        gap: 12px;
    }
    .price {
        width: 349px;
        height: 74px;
    }
   
    .message p {
        font-size: 18px;
        line-height: 28px;
    }

    .banner {
        flex-direction: column;
    }

    .left-side {
        width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .left-side p {
        grid-row: 2/3;
    }

    .left-side img {
        grid-row: 1/3;
        height: 232px;
        width: 505px;
    }

    .input {
        width: 606px;
    }

    .banner form1 {
        background-color: red; 
        width: 1026px;
        height: 584px; 
        border-radius: 16px;
        padding: 24px 27px; 
        background-color: #F9FAFB; 
        gap: 28px;
    }
    
    .input {
        width: 606px;
        height: 48px;
        padding: 12px;
    }

    .input1 {
        width: 291px;
        height: 48px;
    }

    .btn-big {
        width: 606px;
    }

    .advantages {
        height: 660px;
    }
    .cards {
        grid-template-columns: 501px 501px;
        padding: 24px;
    }
    .docs {
        width: 1024px;
        height: 866px;
        padding-left: 105px;
        grid-template-columns: 396px 396px;
        gap: 24px;
    }

    .message {
        display: flex; 
        align-items: center; 
        width: 1536px;
        height: 386px;
        padding: 0px 23px;
        margin: 30px auto;
        gap: 24px;
    }

    .left-message {
        width: 396px;
        height: 276px;
    }
    .right-message {
        width: 396px;
        height: 276px;
    }
    .container-questions {
        width: 1024px;
        height: 554px;
        background-color: red;
    }
    .phone2 {
        width: 237px;
        height: 48px;
        grid-row: 2/3;
    } 

    .left-message,
    .right-message {
        width: 396px;
    }

    .left-message p,
    .right-message p {
        margin-bottom: 24px;
    }

    .footer {
        height: 250px;
    }

    .upp {
        width: 1152px;
        height: 98px;
    }

    .down {
        width: 1152px;
        height: 48px;
    }

    .footer-phon {
        width: 292px;
    }
}

    @media screen and (max-width: 1024px) and (min-width: 759px) {
        header {
            height: 262px;
        }
        .container {
            width: 768px;
            position: relative;
        }
        .price {
            position: absolute;
            width: 100%;
            height: 48px;
            left: 0;
            bottom: -60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background: #F9FAFB;
        }

        .burger-menu {
            display: none;
        }

        .banner {
            display: block;
        }
        .left-side h1 {
            font-size: 30px;
            line-height: 36px;
            font-family: "Formular-black";
            font-weight: 900;
            width: 768px;
            height: 72px;
        }
        .banner img {
            width: 768px;
            height: 350px;
            border-radius: 16px;
            padding-bottom: 40px;
        }

        .input {
            width: 569px;
        }
        .input1 {
            width: 272.5px;
        }
        .btn-big {
            width: 569px;
            height: 44px;
        }

        .form1 {
            padding-bottom: 48px;
        }

        .advantages {
            height: 488px;
        }

        .tit {
            margin: 0;
        }
        
        .cards {
            grid-template-columns: 371px 371px;
        }
        .card {
            box-sizing: content-box;
            width: 372px;
            height: 120px;
            padding: 0;
        }

        .cards img {
            width: 90.67px;
            height: 90.67px;
        }

        .card-title {
            width: 251.2px;
            height: 80px;
        }

        .price p {
            font-family: "Formular-regular";
            font-size: 14px;
            line-height: 20px;
            width: 232.5px;
            height: 40px;
        }

        .zag {
            font-size: 20px;
            line-height: 28px;
            font-family: "Formular-black";
            width: 251.2px;
            height: 28px;
        }

        .line {
            border-bottom: 2px solid red;
        }
        .card p {
            font-size: 14px;
            line-height: 20px;
            font-family: "Formular";
        }

        .card-title h5 {
            font-size: 20px;
            line-height: 28px;
        }

        .advantages {
            height: auto;
        }
        
        .docs {
            grid-template-columns: 366px 366px;
        }

        /* .message {
            display: flex;
        } */
        .right-message {
            display: none;
        }
        .left-message {
            width: 570px;
            height: 224px;
            padding: 32px 16px;
            gap: 24px;
        }

        .container-questions {
            width: 768px;
            height: 554px;
            background-color: red;
        }
        .footer-container {
            width: 1024px;
            height: 338px;
        }
        .upp {
            position: relative;
            width: 768px;
            height: 98px;
        }
        .footer-nav {
            position: absolute;
            width: 372px;
            height: 24px;
            left: 190px;
            bottom: 140px;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
        .footer-phon h4{
            font-size: 30px;
            line-height: 36px;
            font-family: "Formular-black";
            width: 284px;
            height: 36px;
        }
        .footer-phon p {
            font-size: 20px;
            line-height: 28px;
            font-family: "Formular-regular";
            width: 292px;
            height: 28px;
        }
        .down {
            display: block;
            width: 768px;
            height: 88px;
        }
        .down p {
            width: 768px;
            height: 64px;
            text-align: center;
        }
   }
    
    @media screen and (max-width: 758px) {
        header {
            height: 90px;
            padding: 8px 0;
        }

        .logo {
            width: 243px;
        }

        .menu {
            display: none;
        }
        .burger-menu {
            display: block;
        }
        .banner {
            display: block;
        }
        .banner img {
            width: 640px;
            height: 350px;
            border-radius: 16px;
            padding-bottom: 40px;
        }
        .left-side h1 {
            font-size: 30px;
            line-height: 36px;
            font-family: "Formular-black";
            width: 640px;
            height: 108px;
        }
        .left-side p {
            font-size: 20px;
            line-height: 28px;
            font-family: "Formular-regular";
            width: 640px;
            height: 84px;
        }
        .input {
            width: 569px;
        }
        .input1 {
            width: 272.5px;
        }
        .btn-big {
            width: 569px;
            height: 44px;
        }

        .form1 {
            width: 640px;
            padding-bottom: 48px;
        }
        .advantages {
            width: 640px;
            height: auto;
        }
        .cards {
            display: block;
        }
        .card {
            width: 372px;
            height: 120px;
            box-sizing: content-box;
            gap: 12px;
        }
        .card-title h5 {
            font-size: 20px;
            line-height: 28px;
            width: 251.2px;
            height: 28px;
        }
        .quali {
            width: 640px;
        }
        .docs {
            display: block;
            width: 640px;
        }
        .doc img {
            width: 366px;
            height: 407px;
            padding-bottom: 4px;
        }
        .reviews {
          width: 640px;  
        }
        .message {
            width: 442px;
        }
        .left-message p {
            font-size: 16px;
            line-height: 28px;
            font-family: "Formular-bold";
            width: 410px;
            height: 168px;
        }
        .right-message {
            display: none;
        }
        .container-questions {
            width: 640px;
        }
        .footer {
            width: 758px;
            height: 434px;
        }
        .footer-container {
            display: block;
            width: 758px;
        }
    }