@font-face {
    font-family: 'my font';
    src: url('/fonts/20851.ttf') format('truetype');
}

@font-face {
    font-family: 'my font1';
    src: url('/fonts/q1.ttf') format('truetype');
}

.section-clients-main {
    font-family: 'my font';
    font-weight: 800;
}